// FONTS
$main-font: Arial, Helvetica, sans-serif;
$logo-font: 'Cookie', cursive;


// MEDIA QUERIES
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// COLORS
$gray5: #A56F81;
$gray4: #999;
$gray3: #B2B2B2;
$gray2: #DBDBDB;
$gray1: #FAFAFA;
$white: #FFFFFF;
$blue: #3897F0;
$dark-blue: #385185;
$darker-blue: #003569;
$black: #262626;

// SIZES
$container: 1010px;

// RADIUS
$radius: 0.2rem;
$radius50: 50%;
