@import "../../assets/scss/styles.scss";

.home {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  padding: 5.3rem 0rem 0 1rem;

  &__posts {
    width: 630px;
    height: 1000px;
  }

  &__sidebar {
    margin-left: 1.9rem;
    position: fixed;
    display: block;
    width: 100%;
    margin: auto auto auto 660px;
  }
}

.home-profile {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;

  &__profile-picture {
    margin: 0.1rem;
  }

  &__profile-image {
    width: 3.2rem;
    border-radius: $radius50;
  }

  &__profile-account {
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
  }

  &__profile-name {
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    color: $black;
  }

  &__profile-account {
    font-weight: 400;
    font-size: 0.7rem;
    color: $gray5;
  }
}

.history-nav {
  padding: 0.7rem 0.9rem 0.5rem 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 285px;
  align-items: center;
  background-color: $white;
  border-top: 1px solid $gray2;
  border-right: 1px solid $gray2;
  border-left: 1px solid $gray2;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  &__title {
    color: $gray5;
    font-weight: 600;
    font-size: 0.9rem;
  }

  &__see-all {
    text-decoration: none;
    color: $black;
    font-weight: 600;
    font-size: 0.7rem;
  }
}

.history-container {
  width: 285px;
  height: 200px;
  background-color: $white;
  border-right: 1px solid $gray2;
  border-bottom: 1px solid $gray2;
  border-left: 1px solid $gray2;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  overflow-y: auto;

  &__history-profiles {
    height: auto;
  }
}
